@charset "UTF-8";
/* CSS Document */
body {
	background: rgba(150, 47, 96, 1);	
	color: rgba(64, 3, 32, 1);
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 1.4em;
	padding: 10px;
}

#homeh1 {
	margin-top: 20px;
	text-align: left;
} 

#homeh2, p {
	text-align: left;
}

header {
	background-image: url(../images/forest.jpg);
	padding: 10px;
}

#galleryLink {
	color: rgba(176, 70, 120, 1);
	text-decoration: none;
	padding-bottom: 10px;
}

#galleryLink:hover {
	color: rgba(64, 3, 32, 1);
	text-decoration: underline;
	transition: all ease 1s;
	padding-bottom: inherit;
}

canvas {
	margin-top: 10px;
}